<h2>Register</h2>
<md-input-container>
  <input mdInput placeholder="Username"  [(ngModel)]="user.username">
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Password" type="password" [(ngModel)]="user.password">
</md-input-container>
<nav md-tab-nav-bar aria-label="weather navigation links">
    <a md-tab-link
        [class.active]="registerMethod === 'camera'"
        (click)="registerMethod='camera'">
        Camera
    </a>
    <a md-tab-link
        [class.active]="registerMethod === 'upload'"
        (click)="registerMethod='upload'">
        Upload
    </a>
  </nav>
<md-card class="login-method" >
    <md-card-content>
        <app-camera-snapshot *ngIf="registerMethod==='camera'" [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
        <app-image-picker *ngIf="registerMethod==='upload'" [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>	
        <img *ngIf="imageUrl" [src]="imageUrl"/>
        <app-face [hidden]="!imageUrl || registerMethod === 'password'"
                  (click)="register(face)"
                  *ngFor="let face of faces"
                  [face]=face
                  [scaleFactor]="scaleFactor"></app-face>
    </md-card-content>
</md-card>
<div class="buttons">
  <button md-raised-button color="primary" (click)="register()">Register</button>
</div>
<p>
    Already got an account ? Go and <a [routerLink]="['/login']">Login</a>!
</p>

