<md-card>
  <md-card-title>Change password</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Password" type="password" [(ngModel)]="oldPassword">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="New password" type="password" [(ngModel)]="newPassword">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Confirm new password" type="password" [(ngModel)]="newPasswordConfirm">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="updatePassword()" color="primary">Change password</button>
  </md-card-actions>
</md-card>