<h2>Login</h2>
<md-input-container>
  <input mdInput placeholder="Username"  [(ngModel)]="username">
</md-input-container>
<nav md-tab-nav-bar aria-label="weather navigation links">
    <a md-tab-link
        [class.active]="loginMethod === 'camera'"
        (click)="loginMethod='camera'">
        Camera
    </a>
    <a md-tab-link
        [class.active]="loginMethod === 'upload'"
        (click)="loginMethod='upload'">
        Upload
    </a>
    <a md-tab-link
        [class.active]="loginMethod === 'password'"
        (click)="loginMethod='password'">
      Password
    </a>
</nav>
<md-card class="login-method">
    <md-card-content>
        <app-camera-snapshot *ngIf="loginMethod==='camera'" [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
        <app-image-picker *ngIf="loginMethod==='upload'" [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>
        <img #image [hidden]="!imageUrl || loginMethod === 'password'" [src]="imageUrl"/>	
        <app-face [hidden]="!imageUrl || loginMethod === 'password'"
                  (click)="login(face)"
                  *ngFor="let face of faces"
                  [face]="face"
                  [scaleFactor]="scaleFactor"
                  [xOffset]="image.offsetLeft"
                  ></app-face>
        <md-input-container *ngIf="loginMethod==='password'">
          <input mdInput placeholder="Password" type="password" [(ngModel)]="password">	
        </md-input-container>  
    </md-card-content>
</md-card>
<div class="buttons">
  <button md-raised-button color="primary" (click)="login()">Login</button>
</div>
<p>
    Got no account ? Go and <a [routerLink]="['/register']">Register</a>!
</p>
